[2018-12-18 20:53] keviryan opened #1 "Unable to upload artifact sendMessage/ referenced by CodeUri parameter of SendMessageFunction resource."
template.yaml references the code packages for the functions as camel case, but the actual directories are not camel case.

You can either rename the directories or change the template to fix this.

[2018-12-18 21:16] dgomesbr opened #2 "SendMessage and OnDisconnect forEach will not wait for the callbacks"
As reported from twitter feedback:

[2018-12-18 21:17] #1 closed

[2018-12-19 15:46] #2 closed

[2019-01-11 10:26] ghost opened #5 "Integrate Socket API into existing CloudFront Solution"
Hi,

thanks for the sample, which helped us a lot to understand how to use **WebSockets** with **Amazon API Gateway**. We were able to create a new Socket API for our solution based on the samples. We wanted to integrate it created via **Amazon CloudFront** into our existing solution (according to the AWS Documentation WebSockets should work on CloudFront: https://goo.gl/4AMRPb).

Currently we do

[2019-01-14 08:19] mrahman4 opened #6 "Client sample"
Can we enrich this sample by adding client code. So we can see how client will receive messages

[2019-01-14 17:37] dgomesbr commented on #6
Hello @mrahman4, the discussed piece is shown with `wscat` on the [blog post here](https://aws.amazon.com/blogs/compute/announcing-websocket-apis-in-amazon-api-gateway/);

Is there something particular do you want to be added on the repo?

[2019-01-14 17:39] dgomesbr commented on #5
**_auto:_** add to my `to-do` for week `5`.

[2019-01-14 21:50] stinson7 commented on #6
Slightly off topic, but could you add some information about how the lambda functions are attached to routes in the Api Gateway. As far as I understand for this example the SAM template only creates the functions, the user will still have to manually attach the sendmessage, onconnect, and ondisconnect functions to the route using the Api Gateway console. I am just learning how to use SAM but this

[2019-01-15 02:57] dgomesbr commented on #6
Hey @stinson7, the blog post explains that this is just foundational code.
Until SAM, and therefore cloudformation, supports WebSocket on API Gateway,
we have no way of automatically wire everything end-to-end.

On Mon, Jan 14, 2019, 4:50 PM stinson7 <notifications@github.com wrote:

[2019-01-22 04:24] tverbiscer opened #8 "Why are you adding ApiGatewayManagementApi?"
Why are you doing the following?

    // Add ApiGatewayManagementApi to the AWS namespace
    require('aws-sdk/clients/apigatewaymanagementapi');

[2019-01-23 21:09] jt0 commented on #8
There's a lag between when a new (or update to an existing) SDK makes its way into the Lambda-provided NodeJS runtime.  This is a temporary "fix" to provide the SDK until it becomes available.

Thanks for asking!

[2019-01-23 21:09] #8 closed

[2019-02-01 03:08] JoseRolles opened #9 "Cloudformation Template for API Gateway WebSocket?"
Do Cloudformation templates currently support automatically creating API Gateway for WebSockets type and NOT REST type?

[2019-02-01 05:07] JoseRolles opened #10 "Close specific WebSocket API Gateway connection."
How do we close a specific WebSocket API Gateway client connection from the server side?

[2019-02-01 05:45] JoseRolles commented on #10
Documentation at the following link says it is possible to close a connection from the backend by using @connections endpoint. It points to another documentation page which mentions nothing about closing a connection from the backend:
https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-route-keys-connect-disconnect.html

Also, I checked the JavaScript SDK referenc

[2019-02-02 08:55] dgomesbr commented on #10
@JoseRolles using ```@connections```, DELETE to it should disconnect the client.

[2019-02-02 09:07] #6 closed

[2019-02-02 09:08] dgomesbr commented on #9
Hello @JoseRolles, the API Gateway team is working in providing the support for CFn.

[2019-02-02 09:08] #9 closed

[2019-02-02 09:08] #10 closed

[2019-02-08 18:40] writerofsorts opened #11 "Error while loading API Gateway Management API"
While running the Lambda function sendmessage on AWS west-2; got the following error:

const AWS = require('aws-sdk');
// Add ApiGatewayManagementApi to the AWS namespace
require('aws-sdk/clients/apigatewaymanagementapi');

{
  "errorMessage": "Cannot find module 'aws-sdk/clients/apigatewaymanagementapi'",
  "errorType": "Error",
  "stackTrace": [
    "Function.Module._load (module.js:474:25)",

[2019-02-08 22:16] dgomesbr commented on #9
@JoseRolles CFn is now live. Template update: https://aws.amazon.com/about-aws/whats-new/2019/02/automate-websocket-api-creation-in-api-gateway-with-cloudformation/

[2019-02-08 22:16] dgomesbr commented on #6
@stinson7 CFn is now live. Template update: https://aws.amazon.com/about-aws/whats-new/2019/02/automate-websocket-api-creation-in-api-gateway-with-cloudformation/

[2019-02-08 22:24] writerofsorts commented on #11
Found the error. Not an issue

[2019-02-08 22:24] #11 closed

[2019-02-08 22:24] writerofsorts commented on #11
Closed

[2019-02-11 02:04] JoseRolles commented on #9
Awesome! Thanks.

[2019-02-15 20:25] dgomesbr commented on #5
**_auto:_** bump from week `5` to  week `10`

[2019-02-15 20:26] dgomesbr commented on #5
@jt0 do you have any spare time to take a look onto this one? I've bumped twice and I'll probably be locked until week 10/2019.

[2019-02-25 21:54] tylerssn opened #14 "Request: Provide documentation for `sam local`"
I'm attempting to test this repository local with `sam local start-lambda --region us-east1`, which spins up at 127.0.0.1:3001. However, any attempt to connect to to this path wtih `wss://` or `ws://` returns "Bad Request" within the SAM output.

It would be great if testing documentation could be added to the repository.

[2019-02-28 04:54] dgomesbr commented on #14
Thanks for the feedback Tyler, looks like SAM doesn't support wss just yet. https://github.com/awslabs/aws-sam-cli/issues/896

[2019-03-08 22:13] alexandrecanuto opened #15 "APIGateway trigger not showing in Lambda console"
When I built this sample, the API Gateway trigger integration shows up in Lambda console:
![Captura de Tela 2019-03-08 às 19 04 26](https://user-images.githubusercontent.com/6773794/54058696-6764a780-41d5-11e9-9464-a5045ee00164.png)

When building my own app, **everything works just fine**, but the trigger does not show up in Lambda console:
![Captura de Tela 2019-03-08 às 19 04 05](https://user

[2019-03-12 05:00] dgomesbr commented on #15
I'm taking a look on this one.

[2019-03-12 23:04] jlhood opened #17 "Keep SAR app up to date with latest changes"
This app has been modified in GitHub, but those updates haven't been published to SAR. Deploying the app via SAR is a much simpler experience than using GitHub and SAM CLI. SAR has some features that launched since this app was released that should help you keep this app in sync.

SAM CLI added a `sam publish` command that allows you to specify the SAR metadata of the app in the template itself. T

[2019-03-22 17:33] jt0 commented on #17
Updated.

[2019-03-22 17:33] #17 closed

[2019-03-29 16:44] armujahid commented on #6
Client samples mentioned in [blog](https://aws.amazon.com/blogs/compute/announcing-websocket-apis-in-amazon-api-gateway/) are no longer valid.

1. In blog we have `$request.body.action` as route selection expression while latest code in this repo has `$request.body.message` as route selection expression.
2. Correct route for message sending is `sendMessage`, not `sendmessage` as mentioned in blog

[2019-03-29 16:55] armujahid opened #18 "SendMessage import error"
SendMessage lamda function is throwing exception if I send this message:
`{"message":"sendMessage", "data":"hello world"}`
![image](https://user-images.githubusercontent.com/3725386/55249088-1a707000-526d-11e9-9b69-1b03cc23c9b6.png)

I deployed it directly using [serverless repo](https://serverlessrepo.aws.amazon.com/applications/arn:aws:serverlessrepo:us-east-1:729047367331:applications~simple-we

[2019-04-02 18:51] astro21 commented on #18
Here is what I did to fix this issue:

1. Go to Lambda console and export this serverlessrepo-simple-websocke-SendMessageFunction-xxxx function as a deployment package

2. Unzip the downloaded deployment package

3. Open a terminal and go the the folder of the deployment package

4. Install the aws-sdk

npm install aws-sdk

5. Zip the content of the folder and make sure app.js file is at the root

[2019-04-02 19:26] armujahid commented on #18
@astro21 thanks. I didn't know that aws lambda doesn't automatically run `npm install` after deployment. Since other two lambdas were working fine and SendMessage lambda already had `npm_modules` directory I incorrectly assumed that dependencies were being installed.

[2019-04-02 23:24] dgomesbr commented on #18
That was an early dependency node_modules folder, not anymore. Now you should be able to do it.

[2019-04-02 23:24] #18 closed

[2019-04-02 23:26] dgomesbr commented on #15
@alexandrecanuto can you post your template.yml file? I can't reproduce this one.

[2019-04-02 23:27] dgomesbr commented on #14
I'm closing this one as it's being handled on the aws-sam-cli project.

[2019-04-02 23:27] #14 closed

[2019-04-16 15:55] tomellis commented on #18
The latest code still refers to:
require('aws-sdk/clients/apigatewaymanagementapi');
which will fail as that no longer exists, commenting out this part fixes it for me but this needs to be removed from the app.js in the release.

[2019-04-16 16:11] tomellis commented on #6
Thanks @armujahid that helped me whilst running this today.
Had to craft my message to be (also left a comment on the blog which will appear once approved):
{"message":"sendMessage", "data":"hello world"}

[2019-04-16 22:25] tomellis opened #19 "Client samples mentioned in blog are no longer valid."
Client samples mentioned in [blog](https://aws.amazon.com/blogs/compute/announcing-websocket-apis-in-amazon-api-gateway/) are no longer valid.

1. In the blog we have `$request.body.action` as route selection expression while latest code in this repo has `$request.body.message` as route selection expression.
2. Correct route for message sending is `sendMessage`, not `sendmessage` as mentioned in b

[2019-04-18 04:17] dgomesbr commented on #19
Thanks Tom, I've merged your PRs. I'll probably review the blog post again or put a disclaimer over there once I'm back from paternity leave.

[2019-04-26 08:33] Hideman85 opened #22 "How correctly setup AWS::ApiGatewayV2::Authorizer?"
Hello I have some issue to correctly setup the AWS::ApiGatewayV2::Authorizer for my API.

According to the documentation I create this:
[code]

But currently I get all the time Unauthorized and my lambda for authorization is not trigger at all (no cloudwacth logs).

Thank you in advance for your help.

[2019-05-02 14:46] pankesh commented on #11
@writerofsorts could u share what you found. I'm seeing the same issue

[2019-05-02 14:57] onerider opened #23 "Unable to import module 'app'"
So I simply deployed this code with no changes whatsoever. I can get a connection with no issues but when calling sendMessage I get an internal error. Looking in Cloudwatch, I see this error:

Unable to import module 'app': Error
at Module._compile (module.js:652:30)
at Object.Module._extensions..js (module.js:663:10)
at Module.load (module.js:565:32)
at tryModuleLoad (module.js:505:12)
at Functio

[2019-05-03 16:52] mwalker638 commented on #23
I am also seeing the same thing.

[2019-05-06 22:45] markotitel commented on #23
@mwalker638 @onerider
https://github.com/aws-samples/simple-websockets-chat-app/issues/18

[2019-05-07 20:28] bjorg commented on #5
@kirnberger were ever able to get this to work? Or is it basically not working?

[2019-05-08 16:36] Adnan-Shahid opened #24 "Response {"message": "Forbidden", ...}"
I directly deployed this project through aws, and deployed it, I can connect using wscat -c url, but when I try to send any message I get a response (with actual strings for connectionid and request id):
{"message": "Forbidden", "connectionId":"some_string", "requestId":"some_string"}

Is there a step that needs to be applied outside of the deployment that is not documented? (I did definitely depl

[2019-05-09 21:34] createbuildship commented on #24
same here, can't figure out. Did u find an answer  @Adnan-Shahid

[2019-05-10 12:51] Adnan-Shahid commented on #24
I haven't been able to find the cause yet either unfortunately

[2019-05-10 15:16] createbuildship commented on #24
Hey Adnan, give me a ping on chris@frontr.co.uk and lets get connected so I can share you what i did to make it work. I just don't have time to write it up

[2019-05-10 17:23] dgomesbr commented on #24
hey @frontr-uk @Adnan-Shahid, I'm in paternity leave, if you can, share the details here and we'll incorporate on the repo. Thank you

[2019-05-13 19:13] Adnan-Shahid commented on #24
@frontr-uk It appears more than just us have this issue, it would be great if you could share how you solved it here for everyone

[2019-05-13 19:58] markotitel commented on #24
Also had the same issue. Searching through closed issues helped me.
The same issue is opened and the answer is at the bottom https://github.com/aws-samples/simple-websockets-chat-app/issues/23

SendMessage lambda needs to be built before deployment. Use `npm install` and then the procedure is the same.

Actually there are two errors that may occur, at least those two I've noticed so far.
First is

[2019-05-13 20:52] markotitel commented on #18
@tomellis
Simply commenting the `require('aws-sdk/clients/apigatewaymanagementapi');` solves the issue for you?
Strange, if I just comment that part out the error is `AWS.ApiGatewayManagementApi is not a constructor`
Is this the answer? https://github.com/aws/aws-sdk-js/issues/2520#issuecomment-476723105

[2019-05-13 20:58] markotitel commented on #18
What helped me is change NodeJS version to 10.x, with commented `require('aws-sdk/clients/apigatewaymanagementapi');`
I will try do to my first PR to see if I can do it properly and to see if this is proper programatic solution.

EDIT: Hope I have properly followed contribution guide.
https://github.com/aws-samples/simple-websockets-chat-app/pull/25

[2019-05-13 21:10] markotitel commented on #24
You can checkout this PR https://github.com/aws-samples/simple-websockets-chat-app/pull/25
This should work out of the box.

[2019-05-15 03:24] dgomesbr commented on #24
fixed by #25

[2019-05-15 03:24] dgomesbr commented on #23
Dup of #24

[2019-05-15 03:24] #23 closed

[2019-05-16 10:02] knopp commented on #10
Perhaps the documentation could be updated so that people don't need to search github issues for answers?

[2019-05-16 20:27] Adnan-Shahid commented on #24
This doesn't seem to be fixed when deploying directly from AWS's Serverless Application Respository. I get the same error

[2019-05-17 07:32] dgomesbr commented on #24
@jt0 could sync it again or grant me privileges to do so?

[2019-05-24 04:02] aushakov95 commented on #24
@dgomesbr @markotitel
Deploying via the AWS CLI produces the same error for me.
`{"message": "Forbidden", "connectionId":"connectionId_here", "requestId":"requestid_here"}`

[2019-05-24 06:32] markotitel commented on #24
@aushakov95 Have you deployed from serverless repo or from github?

[2019-05-24 23:21] carnivaloftrees commented on #24
I have personally tried both and I have the "Forbidden" error each time :(

[2019-05-24 23:27] aushakov95 commented on #24
@markotitel @carnivaloftrees
Yes I have tried both.
But I figured out why it was not working for me!
I was sending this via wscat
`{"action": "sendmessage"...}`
per instructions on the aws guide for this repo.

So what fixed it for me was typing in
`{"message": "sendmessage"...}` instead.

[2019-05-24 23:32] carnivaloftrees commented on #24
@aushakov95
Really? Because I just tried with what you've just said and I still get the same error:
**{"message": "sendmessage","data": "test"}
{"message": "Forbidden", ...}**

Am I still missing something?

Thanks for the suggestion though, it gives me a lead at least.

[2019-05-25 02:01] carnivaloftrees commented on #24
Is my wscat connection ok?

**wscat -c wss://(ID).execute-api.(REGION).amazonaws.com/Prod**

[2019-05-25 02:07] aushakov95 commented on #24
@carnivaloftrees

Your connection url is right.

This is a bit of a long shot, but go to the sendmessage route inside API Gateway and click “add integration response”. Try again

[2019-05-25 02:18] carnivaloftrees commented on #24
Still giving me forbidden! What do you pass through as data? Just anything? Thanks for help by the way, I appreciate it, I really want to be able to use the websocket.

[2019-05-27 16:47] ngPati commented on #24
Same issue here :(

[2019-06-10 12:07] acahinton commented on #24
Anyone still having this issue deploying via the AWS SAR - the code does not currently reflect the master branch here so you can make the following changes to resolve:

In the "sendMessage" lambda; change the runtime to node 10 and remove the following line from the sendmessage/app.js
 - require('aws-sdk/clients/apigatewaymanagementapi');

![image](https://user-images.githubusercontent.com/1495139

[2019-06-10 16:52] hsmr29 commented on #24
@acahinton

I did what you said, but I still see the same error as the others. **Forbidden**

[2019-06-10 17:06] ngPati commented on #24
@acahinton Node 10.x fixed the issue for me :)

[2019-06-11 10:57] acahinton commented on #24
@Hugosimon29 -  I take it you are formatting the message as follows:

`{"message":"sendmessage", "data":"hello world"}`

If so, it might be worth deleting your cloudformation stack for this sample, then re-adding via AWS SAR and making the above two small changes to see if that helps?

I've now set up deployments from Bitbucket calling the SAM CLI to deploy and it's working fine as a base that I c

[2019-06-11 18:42] dgomesbr commented on #15
can't reproduce

[2019-06-11 18:42] #15 closed

[2019-06-13 19:45] dgomesbr commented on #24
I'm back from leave, took ownership of the SAR, will review and sync repo/publish app next week, sorry about the whole problem and lack of attention folks.

[2019-06-15 22:57] andrew-templeton opened #26 "Does not work when changing Function on API GatewayV2 Integration"
When you change the ARN of a function or an integration, this template does not make a new deployment.

Try changing the logical name of the Function for one of the handlers, along with the references to it (to use the new logical name of the function), and repackage and deploy the SAM package.

No new deployment will be triggered, because the Deployment resource, even with the explicit DependsOn,

[2019-06-20 02:31] ngPati opened #27 "$disconnect is not called when connection goes down"
I have an app which uses redis to hold socketIds. Everytime when user leaves the site, $disconnect function is called in lambda and user is being removed from cache and something is logged to CloudWatch where I can check if function was called.

Unfortunately when I turn off the internet connection on client (browser/PWA), the $disconnect lambda is not triggered :(

how could this be possible?

[2019-06-20 10:50] XJIOP commented on #24
[code]

problem in "sendmessage" should be "sendMessage"

[2019-06-20 10:55] XJIOP commented on #27
you need implement ping pong function like a heartbeat

[2019-06-21 11:16] iDevo commented on #24
Hey guys! I deployed the app using AWS directly and faced the same issue. In a conclusion to all mentioned possible solutions I tested 3 different code changes:

1. Original version with Node 8
2. Applied changes from @acahinton with Node 10 and commented line 7 in `sendmessage`
3. Applied the changes from the GitHub commit #25 from [May 13 ](https://github.com/aws-samples/simple-websockets-chat-a

[2019-06-25 16:11] acahinton opened #28 "Adding new routes after initial AWS CLI deployment are not recognised"
I have followed the instructions and used the AWS CLI to deploy the application - everything works fine - however, if you add a new route everything appears to have been created but API Gateway returns a forbidden message.

The only solution is to delete the stack and then re-run via the AWS CLI - the new route then works fine.

This may well be a Cloudformation issue or maybe someone can point me

[2019-06-25 16:28] acahinton commented on #28
Manually re-deploying the API to the Prod stage adds the new route correctly... I'll need to read a bit around that to get it working with the template to automate this.

[2019-06-25 16:28] #28 closed

[2019-06-25 16:33] acahinton commented on #26
I had maybe a similar issue where adding a new route after initial deployment was not being picked up - this was caused because the API Gateway was not being automatically redeployed to the Prod stage so the new route was not recognised. Manually deploying to Prod then made the route available.

For my issue I'm going to investigate forcing the template to redeploy the API to the Prod stage.

Apol

[2019-06-26 14:09] FreFre commented on #9
There is no support yet for integration type VPC link for API V2/websocket using Cloudformation?
It can be achieved manually using the AWS Console.

[2019-06-27 04:09] autoCAT6 commented on #24
Guys if you're still having that "message: Forbidden" error on "sendmessage" route, it's probably because you didn't capitalize that "M".
I changed my lambda function runtime to Node.js 10.x and deleted that require statement in app.js, then sent my json payload as "{"message":"sendMessage","data":"hello"}". Everything worked perfectly.

[2019-06-29 23:06] hardingmatt commented on #24
Thanks- changing `{"action":"sendmessage", "data":"hello world"}` to `{"message":"sendMessage", "data":"hello world"}` was all I needed.

@dgomesbr Would it be possible to edit the blog post to reflect this change?  Thank you!

https://aws.amazon.com/blogs/compute/announcing-websocket-apis-in-amazon-api-gateway/

[2019-07-03 15:33] DaisukeNagata commented on #24
https://twitter.com/i/status/1146440093046996993

Double quotes are automatically changed on Mac Notepad.
so I could not chat.
And I did. Thank you very much.

[2019-07-08 13:22] sekulicd commented on #22
Same issue here. Any update on this?

[2019-07-09 07:41] Hideman85 commented on #22
Yes, I completely forget this issue but I solved it a moment ago with helps of AWS support.

Template.yaml :
[code]

WebSocketEntries.yaml :
[code]

And the authorizer lambda:
[code]
The things is the authorizer have to be setup **ONLY** on the route for `$connect`

Have fun ;)

[2019-07-09 07:41] #22 closed

[2019-07-11 09:52] sekulicd commented on #22
Tnx, for the update, I also find a solution on my side.
I am not using serverless but cloudformation directly and on my side, I was missing that in LambdaPermission I should have set sourceArn of Authorizer and not APIG.

[2019-08-01 03:09] pilgrim2go commented on #24
I deployed using serverless console and got the same issue.
Fix 1
[code]
Another issue
[code]
Fix 2
I have to run
` cd /simple-websockets-chat-app/sendmessage`
`npm install`
`zip -r package.zip .`
and then update sendMessage Lambda to solve the issue

[2019-08-14 17:37] ngPati opened #30 "Websockets does not connect sometimes"
I'm encountering a problem when sometimes my client connects to websockets API and sometimes not. I can't see anything from cloudwatch blog. Could that be an issue of the websockets gateway? Unfortunately I couldn't find anything about the error message.

![image](https://user-images.githubusercontent.com/36623969/63042615-b4f2e800-beca-11e9-8caa-3e4676db9759.png)

[2019-08-14 17:47] ngPati commented on #30
Probably a websockets gateway limit, sorry for bothering

[2019-08-14 17:47] #30 closed

[2019-09-04 06:42] SejoongDeJang opened #31 "How to test in local?"
Hello I'm beginner of sam.
I want to run the server in my pc, and communicate with other device through socket.
I just run a 'sam local start-lambda', but I can't find the path for socket connection.

[2019-09-20 06:06] Gharaibeh commented on #24
I tried to send after connect :
 {"message":"sendMessage","data":"hello"}
But I got this error as reply:
< {"message": "Internal server error", "connectionId":"-----", "requestId":"-----"}

[2019-09-25 07:29] Myphan29 commented on #22
@Hideman85
I had same problem when executed my .Net Core lambda for websocket authorizer.
Is this only for node.js?

[2019-09-30 04:43] #31 closed

[2019-11-04 19:32] appindus-kanderson commented on #24
There were a number of helpful comments above. After troubleshooting for a bit I was able to successfully connect and send a message with the following configuration:

 - Deploy the application as is from the SAR.
 - After application is deployed update the SendMessageFunction lambda function to use Node.js runtime version 10.x.
 - In the same SendMessageFunction lambda function, remove the ApiGat

[2019-11-10 22:40] fimbox commented on #24
I set up the pipeline with a simple custom lambda function without the SAR deployment:
`
exports.handler = async (event, context) =>
{
    const response = {
        statusCode: 200,
        body: JSON.stringify('Hello from Lambda!'),
    };
    return response;
};
`
I constantly got the "message": "forbidden" answer with wscat.

I finally solved the issue by using **$request.body.message** instea

[2019-11-20 11:16] thatguyfig commented on #24
Hi all,

Today I deployed this template from the SAR, and had to do the following to get this to work correctly.

1.  Take note of the Route setup - i.e. check the names of the following:
![image](https://user-images.githubusercontent.com/22985628/69234307-bd705400-0b86-11ea-8411-d779a81e15f2.png)

2. This means you will have to modify your input JSON within **wscat** to accomodate these differenc

[2019-12-11 13:30] anu1097 opened #32 "What Route to use to add custom Authorizer in template.yml"
Connect route has $connect endpoint. Disconnect has $disconnect. What is the route for $customAuthorizer ?

[2020-01-03 02:36] Ronald-Saunfe commented on #24
Thanks a lot it worked but i had to create a new Websocket API since i could not change the route from '$request.body.action' to '.message'

[2020-01-20 05:40] iqdavidh commented on #24
Hi, I had the same issue,  This changes allows to get it works

https://github.com/iqdavidh/simple-websockets-chat-app

I changed the api gateway acording to another example.

[2020-01-23 02:50] kennyk65 opened #34 "Still running node 8"
I see that the code in this repo has been updated to use node 10 and then node 12, but the link in this article (https://aws.amazon.com/blogs/compute/announcing-websocket-apis-in-amazon-api-gateway/) deploys node 8 - and fails.

[2020-02-07 20:08] SahajRana commented on #24
Using `Deploy Api` again from `Actions`, after adding a new route, did the trick for me.

[2020-02-14 01:31] jagadish432 commented on #24
1) For the error "Forbidden" :
-> When you send the request {"action": "<custom_route>", "message": "some text "}, make sure that the first key ("action" here ) is based on the value of "route selection expression" you gave in API gateway i.e., for MY above example request to work, the route selection expression should be "$request.body.action".

2) For the error "Internal server error":
-> a) Giv

[2020-02-15 19:21] soumilshah1995 commented on #24
I am using Python Lambda and getting internal Server Error can anyone Help i followed all steps showed in Github Comments

[2020-02-15 19:24] soumilshah1995 commented on #24
Whats the solution for people who are using python Lambda Function

[2020-02-17 18:40] anu1097 commented on #32
Never mind found the solution here - https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigatewayv2-authorizer.html

[2020-02-17 18:40] #32 closed

[2020-03-10 18:12] sfraise commented on #34
I'm having this problem as well, is there an updated version somewhere?

[2020-04-01 21:10] oscarnevarezleal commented on #24
Ha! For some reason the last version of this repo I use created `sendmessage` (mind the lowercase) so my payload needed to look like this `{"message": "sendmessage", "data": "message to send to other clients"}`

Works fine.

[2020-04-05 16:17] NickFritz1982 commented on #34
Looking for an updated version?

[2020-04-05 16:31] sfraise commented on #34
Good working examples using API Gateway with Websockets are extremely lacking.  Would be nice if at least the official examples put out by Amazon worked.

[2020-04-06 05:40] dgomesbr commented on #34
Hello folks, Post was last updated in 2018. I'm on leave, as soon as I'm back I'll clean the issues, plus push an update to the blog post!

[2020-04-06 05:41] dgomesbr commented on #27
Hello @ngPati as documented, $disconnect is a best effort event.

https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-route-keys-connect-disconnect.html

[2020-04-06 05:41] #27 closed

[2020-04-06 05:42] dgomesbr commented on #24
The SAR is out-of-date, I'm on leave, as soon as I'm back I'll clean the issues, publish a new version of the SAR and update the blog post.

Thanks for the patience.

[2020-04-06 18:35] sfraise commented on #34
That would be outstanding, thank you!

We need to rebuild our existing traditional REST API into the API Gateway with websockets before moving on to new feature builds and are stalled out until we get our heads wrapped around this new stack/setup.  Having a real working example we can pick through like this will get us over the hump and let us start laying the foundation, and from there get back t

[2020-04-13 18:58] m-radzikowski commented on #5
I believe problem here is path mapping between CloudFront and API Gateway.

Let's say you have WebSocket API Gateway with id `mce8m6z8s8` and stage `v1`. The WebSocket URL is then: `wss://mce8m6z8s8.execute-api.eu-central-1.amazonaws.com/v1`

When you want to connect to the WS, you must connect to exactly this URL. If you try to connect to, let's say, `wss://mce8m6z8s8.execute-api.eu-central-1.ama

[2020-04-16 11:15] jonathanmv commented on #24
I'm using all-lowercase `sendmessage` and it works for me

[2020-06-05 05:48] dgomesbr commented on #34
Hello folks, I've updated the SAR (https://serverlessrepo.aws.amazon.com/applications/arn:aws:serverlessrepo:us-east-1:729047367331:applications~simple-websockets-chat-app) to 1.0.3, which mirrors the latest changes in this repo.

I've also reverted the `RouteSelectionExpression` to `$request.body.action` to match the Blog post.

Thanks for the continued patience on this one.

[2020-06-05 05:48] #34 closed

[2020-06-05 05:49] dgomesbr commented on #24
Hello folks, I've updated the SAR (https://serverlessrepo.aws.amazon.com/applications/arn:aws:serverlessrepo:us-east-1:729047367331:applications~simple-websockets-chat-app) to 1.0.3, which mirrors the latest changes in this repo.

I've also reverted the RouteSelectionExpression to $request.body.action to match the Blog post.

so now, the blog post examples should work with:

``` {"action": "sendme

[2020-06-05 05:49] #24 closed

[2020-06-05 05:50] dgomesbr commented on #19
SAR application published (v. 1.0.3) to mirror the changes made to the repo

[2020-06-05 05:50] #19 closed

[2020-06-05 05:52] dgomesbr commented on #26
@andrew-templeton  have you tried to publish the newly deployed SAM app?

[2020-06-05 14:24] NASlR commented on #24
Thanks for fixing. Could you update the readme on the repo? It's still got the old RouteSelectionExpression (which then led me to finding this issue)

[2020-06-05 14:34] dgomesbr commented on #24
Done

[2020-06-06 14:17] dgomesbr opened #36 "Possible rollback with version 1.0.3"
Reported on twitter:

by using a IAM user with correct permissions, I was able to deploy in a different region that my default one. "famous works on my machine"

![Stack deployed](https://i.imgur.com/6vUpdDw.png)

[2020-06-06 17:27] #36 closed

[2020-06-07 20:57] sfraise commented on #34
I still can't even deploy it, it just says "is in ROLLBACK_COMPLETE state and can not be updated".

If there's some permissions or capability thing I'm missing I wouldn't know I guess as there's really not much for instructions or information anywhere.  Docs would make useful toilet paper I guess if you printed them out.

Using the API Gateway with websockets sounds like an ideal solution for our

[2020-06-09 00:02] sborsay commented on #36
ill keep working on it.  I shouldn't have any IAM issues as im the SU

[2020-06-13 08:42] kaihendry opened #37 "HTML"
Hi, my use case is to show a field to all people connected via HTML. If it updates, it needs to reflect on everyone's page. Is this a good starting point, or should I be looking at GraphQL?

Little puzzled why you don't have an HTML interface in your sample here.

[2020-06-15 14:19] dgomesbr commented on #37
Hello @kaihendry, if you're looking more into a chat application, maybe amplify is more suitable for you https://aws.amazon.com/blogs/mobile/building-a-serverless-real-time-chat-application-with-aws-appsync/

[2020-06-15 14:19] #37 closed

[2020-06-19 15:19] BossLevel commented on #24
To anyone who may still be having issues with this, specifically, submitting a message via a browser-based socket, rather than via wscat, the following may help. I had deployed a tweaked version of this repo and had no problem sending messages via wscat. However I had also knocked up a webpage to test sending via the browser, and whilst I could connect, any messages sent failed with the same Forbi

[2020-06-20 02:33] kaihendry opened #39 "Test locally"
Is there some way to serve Web socket locally to have sane development iterations?

I don't think it's supported by https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/serverless-sam-cli-using-start-api.html

[2020-06-22 04:47] dgomesbr commented on #39
Not at this time.

[2020-06-22 04:47] #39 closed

[2020-07-01 04:28] dgomesbr commented on #26
Closing as stale.

[2020-07-01 04:28] #26 closed

[2020-07-01 04:32] dgomesbr commented on #5
As @m-radzikowski mentioned, this isn't the default behavior. I'll pass this as a feature request, but closing for now.

[2020-07-01 04:32] #5 closed

[2020-07-01 05:00] bjorg commented on #5
@dgomesbr Please do. I already mentioned it to Katrina Bakas. This is really annoying, because it requires us to use the WebSocket stagename in our front-end application code, which is not ideal.

[2020-07-16 16:49] Ady88w1 opened #40 "postToConnection: No method found matching route"
When calling the sendmessage Lambda function, the following line:
await apigwManagementApi.postToConnection({ ConnectionId: connectionId, Data: postData }).promise();

returns an error:
No method found matching route test0/@connections/PxWP8cfSDoECFYw= for http method POST.

The connection ID is that of the caller, so should be able to mirror the message back to the caller.

Is this just a permiss

[2020-07-17 02:17] dgomesbr commented on #40
Hey @Ady88w1, can you provide the steps to reproduce this?

[2020-07-17 04:51] Ady88w1 commented on #40
Hey @dgomesbr thanks for the reply. Because I had mapped the gateway api to a custom domain, using a default stage I needed to also change the endpoint parameter of the API initialization, so it now reads (removing event.requestContext.stage):

    const apigwManagementApi = new AWS.ApiGatewayManagementApi({
      apiVersion : '2018-11-29',
      endpoint   : event.requestContext.domainName + '/'

[2020-07-17 04:51] #40 closed

[2020-09-03 05:06] maustinstar commented on #28
Experiencing the same issue still. Any updates or insights?

[2020-09-17 13:49] faustomilletari commented on #5
Dear all,

I am writing in this thread because i really don't know where to look anymore. The issue experienced by the user ghost is very similar to mine, even though i didn't use any of the code of this repo.

I am in dire need of having an unsecured websocket connection which i can't realize with a straight ApiGateway on AWS, as we all know.

My idea was to use CloudFront to allow HTTP/HTTPs acc

[2020-09-17 15:02] bjorg commented on #5
@faustomilletari It took me a while to get CloudFront to work with WebSocket. You can see a sample of the integration here which uses LambdaSharp notation, but it's close enough to CloudFormation YAML to follow: https://github.com/LambdaSharp/Chat/blob/main/Module.yml#L164

However, I will tell you that there is no way to connect over HTTP/WS. You have to use HTTPS/WSS. CloudFront will redirect an

[2020-09-17 18:09] faustomilletari commented on #5
Thank you Bjorg. Your insight is helpful. I was indeed hoping to just do the same I have already done with a rest endpoint I had. In that case cloud front helped getting http without ssl layer. That said... I will look at the file you pointed and I will post here if I get it to work with either https or even http (which at this point I’m a bit discouraged about)

At this point I am almost about ru

[2020-09-18 02:41] fsobh commented on #24
JSON.stringify fixed it for me!

[2020-10-21 17:39] nikolazius commented on #5
Hey there,
I spent perhaps more than a day, but found the catch. You need to configure the Origin Request Policy properly. Here is an example for WebSockets : https://nickzamosenchuk.medium.com/configure-amazon-cloudfront-cdn-for-websocket-connection-43c44b3f877c

Cheers!

[2020-10-25 15:00] dgomesbr commented on #5
Would make send to create a new repo or add this example/functionality to the readme?

[2020-10-30 20:43] mrpackethead opened #42 "Porting to aws-cdk ( in python )."
I have been attempting to port this chat-app to a aws-cdk application, and feel like i'm close, but not quite there yet.

This is the response i'm getting
`[ec2-user@ip-172-31-x-x websocket]$ wscat -c wss://xxxxxxx.execute-api.ap-southeast-2.amazonaws.com/prod
Connected (press CTRL+C to quit)

< {"message": "Internal server error", "connectionId":"VNRUSeldSwMCIRQ=", "requestId":"VNRXVFJOywMF3-Q="}

[2020-10-30 20:44] mrpackethead commented on #42
`import boto3
import os
from botocore.exceptions import ClientError
import json
def lambda_handler(event, context):
    message = 'one two three'.encode('utf-8')
    body = event['body']
    print(body)
    connectionId = event['requestContext']['connectionId']
    print(connectionId)
    api_client = boto3.client('apigatewaymanagementapi')
    api_client.post_to_connection(
            Data = mes

[2020-10-30 20:48] mrpackethead commented on #42
this is the cdk code so far...

[code]

[2020-10-31 03:00] mrpackethead commented on #42
I suspect that boto is possibly not working nicely.   If we look carefully at the URL that it is tryign to send to, we see its

"https://execute-api.ap-southeast-2.amazonaws.com/@connections/VNmugd9KSwMCFwQ%3D"

Its missing the id of the API gateway.

Boto3 doesnt provide a parameter for the URL.

[2020-10-31 03:17] mrpackethead commented on #42
There is a bug / error in the Boto3 documentation!!!!!     The boto3 client docs dont' say how to specifiy the url!  I foudn this issue in the boto github issues, its been an issue for nearly 2 years with multiple people hitting the same issue!   Minor change to the lambda...

My problem is resolved.

[code]

[2020-11-01 17:10] tuanardouin commented on #42
I'm also trying to use websocket with CDK. Your code helped me a lot !

I created this repository if you want :

https://github.com/tuanardouin/WebSocket-CDK

[2020-11-01 19:57] mrpackethead commented on #42
That boto3 documentation bug is really annoying!  I've finished my pattern now, but glad that it helped you out.

[2020-11-10 07:43] MatteoGioioso commented on #22
@Hideman85
This is not necessary, actually in my case was giving me access denied because I think it should point to the authorizer

[code]

Also this should contain `!Sub`:

[code]

[2020-11-16 17:26] Hideman85 commented on #22
I don't if they did an update but the time I was writing it was needed for me. Yes the second point is true probably copy/paste mistake.

[2020-11-25 06:55] tayyabgilani commented on #24
@dgomesbr This is what I am doing to initiate a was connect chat from the lambda function

` const connection = new WebSocket(url);

             var test = { "message": "sendMessage", "data": "hello" };
             connection.onopen = () => {
                 connection.send(JSON.stringify(test));
                 console.log("connection open?????");
             };
             connection.onerr

[2021-01-28 14:45] mustafapc19 opened #44 "Stale connection not being detected"
There is section of code where the 'stale' connection is detected.
This is the code snippet. I am not using the `Promise.all` that u guys are using if it does affect in anyway. Just calling await normally. And the value of `apiRes` here is {}, without erroring out Is there any work around to this? Because now sometimes my messages goes into unknown darkness :(

[code]

[2021-02-05 16:31] S1rFrancis commented on #24
In the `connection.onopen` are you subscribing to the topic. For instance when connecting to connect participant chat:

[code]

[2021-04-10 00:02] bpottier commented on #24
We’re attempting to send a message over a websocket connection for AWS connect are have tried everything and always get “Forbidden”. Anyone get past this issue?

[2021-04-15 15:04] paul-uz opened #45 "CORs error when trying to connect from client side with Socket.io"
As per the title, I have created a super simple script to connect to the wss:// endpoint provided, using socket.io

[code]

And I get the following error in the console:

How can I add CORs support to the API Gateway Websocket? I cannot find any information on this.

[2021-04-15 15:28] #45 closed

[2021-04-22 08:34] tuanardouin commented on #24
@bpottier
I created a sample a few months ago using CDK :
https://github.com/tuanardouin/WebSocket-CDK

You can try to compare the different role et permissions set in this stack to yours to pinpoint the problem maybe?

[2021-05-16 10:24] vonhan commented on #5
Dear @nzamosenchuk
thank you so much for your guide! Unfortunately despite this guide my API gateway websocket continues to be unreacheable through CloudFront.

If I follow your guide using a new distribution with the default CF SSL certificate works, instead in my case where I'm using a custom SSL certificate provided by me doesn't work.

Thanks!

[2021-05-30 07:20] aprilmintacpineda opened #46 "cannot send message"
When I do:

[code]

I'm gonna get an event back with the following:

[code]

[2021-05-30 08:29] aprilmintacpineda commented on #46
This happens when adding new routes to an existing websocket. I had to remove the existing websocket and recreate it.

[2021-05-30 08:29] #46 closed

[2021-06-09 14:04] httpiga commented on #5
Just for sharing some general knowledge: this solution works because API Gateway does not want an Host header different from the one assigned to each endpoint (eg: xxxxxx.execute-api.eu-central-1.amazonaws.com ). Whitelisting websocket headers prevents the Host header (ie: your ClouFront distribution URL) to be forwarded, so CloudFront will use the API Gateway endpoint as value for the Host header

[2021-07-09 19:03] baigzeeshan commented on #24
For Timeout and Internal Server Errors...check Lambda function Timeout and increase it to at least 1 minute, the API tries to delete the stale connections from Dynamo DB which takes more than the default Lambda timeout 3 seconds. In my case, I was testing with 300 connections.

[2021-07-12 02:51] Keerat-Grewal commented on #27
How would you go about dealing with disconnections from internet connection loss? Is there a way to create a ping/pong mechanism with aws websockets, if so how would you do that

[2021-08-02 14:29] vonhan commented on #5
@httpiga I confirm that solution works! The errors was due to a miss configuration on my side. 😅

[2021-10-23 14:29] code-wizard commented on #45
@paul-uz  how did you resolve this issue?

[2021-10-25 09:58] paul-uz commented on #45
I believe the issue was that Socket.io does not work with API Gateway Websockets and I had to test using wscat in the CLI

[2021-10-28 12:44] vbabaria commented on #42
Thanks for sharing your work, how do you test python code locally before pushing it out to AWS? - thanks

[2021-12-23 19:12] amoffat commented on #15
Old issue, but I ran into a similar problem which I answered here https://superuser.com/questions/1695597/aws-lambda-not-showing-apigateway-trigger-in-console-ui-but-it-works

[2022-02-06 21:30] mateo-sierra-cloud commented on #9
can i host this settings in a vpc?, when i host my lambda in public subnet and igw attached vpc, i doesnt respond back, any sugestions?

[2022-02-06 21:58] JoseRolles commented on #9
Unfortunately, Lambda inside VPC public subnet cannot access the internet and will require running a NAT. Please see this answer for more details: https://stackoverflow.com/a/52994841

[2022-03-14 07:20] charlescol commented on #24
For "Forbidden" error, my solution was to remove the root with an uppercase and to create another one with only lowercases. It works for me.

[2022-06-16 13:52] petrucristescu commented on #22
Why is the "IntegrationMethod: POST" needed?

I'm getting some "Execution failed due to configuration error: Invalid permissions on Lambda function"

This is my Type: AWS::Lambda::Permission

[code]

[2022-06-28 18:53] dgomesbr commented on #44
Hello mustafapc19, API Gateway will do its best effort to detect and emit an event.

[2022-06-28 18:53] #44 closed

[2022-07-27 11:10] paul-uz opened #49 "Unexpected server response: 500"
I have deployed the app to cloudformation, and when I try to connect to the wss endpoint, I get

When I had the app installed from the automatic AWS deployment, it worked fine, but not when deployed via `aws cloudformation`

[2022-07-27 11:12] #49 closed

[2022-07-27 11:13] paul-uz commented on #49
Nevermind, I was being an idiot.

I had actually modified the table to add a sort key, and forgot you have to send that data as well, and I wasn't, causing a DynamoDB error. `console.log` to the rescue!